@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Afacad';
    src: url('./font/Afacad_Flux/AfacadFlux.ttf') format('truetype');
  }

  body {
    @apply bg-zinc-100 dark:bg-zinc-900 font-['Afacad'];
  }
}

@layer components {
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #71717a 90%, #0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
  }
}

@layer utilities {
  .dark-text {
    @apply text-zinc-700 dark:text-zinc-300;
  }

  .shadow {
    @apply shadow-[5px_12px_20px_rgba(36,37,38,0.075)] dark:shadow-none;
  }
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
